.Copyrights3{
	position:absolute;
	width:204px;
	height:12px;
	top:913px;
	font-size:10px;
	left: 674px;
	padding:0px 0 0px 0px;
	z-index:10;
	color: #DEDEDE;
	font-family: "Century Gothic";
	}
	
	.Title
	
	{
	position:absolute;
	width:300px;
	height:55px;
	top:26px;
	font-size:45px;
	left: 213px;
	padding:0px 0 0px 0px;
	z-index:9;
	color: #330000;
	font-family: "Century Gothic";
	}
	
	.CellPortraitstext
	{
	display:block;
	position:absolute;
	width:518px;
	height:54px;
	top:97px;
	font-size:13px;
	line-height:20px;
	left: 206px;
	padding:0px 0 0px 0px;
	z-index:9;
	color: #330000;
	font-family: "Century Gothic";
	text-align: justify;
	}
	
	
	.Homelink
	{
	display:block;
	position:absolute;
	width:50px;
	height:0px;
	top:194px;
	left: 25px;
	z-index:9;
	color: #FC0;
	font-family: "Century Gothic";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 4px;
	font-variant: normal;
	text-decoration: blink;
	text-transform: capitalize;
	}
	
	.CellIcon{
	position:absolute;
	width:110px;
	height:100px;
	top:-40px;
	left: 568px;
	}	
	
	.Show{
	position:absolute;
	width:750px;
	height:750px;
	top:154px;
	left: 138px;
	font-family: "Century Gothic";
	font-size:16px;
	z-index:9;
	font-color: #FFF;
		
}
.PrevNext {
	font-family: "Century Gothic";
	font-size: 13px;
	font-style: normal;
	color: #DCF746;
	font-weight: normal;
	letter-spacing: 3px;
	font-variant: normal;
	text-decoration: blink;
	
}

		
.PlaceHolder{
	position:absolute;
	width:900px;
	height:80px;
	top:1200px;
	
	}	
